<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
  </head>
  <body>
    <nav>
      <ul>
        <h1><li><a href="/" target="">ThatHumanJason's Website</a></li></h1>
        <li><a href="/about" target="">About</a></li>
        <li><a href="https://github.com/{{ site.github_username }}" target="_blank">GitHub</a></li>
        <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a></li>
        <li><a href="/feed.xml">RSS</a></li>
        <li><a href="https://icons8.com/" target="_blank">Icons by Icons8</a></li>
      </ul>
    </nav>
    <article>
      <h1>{{ page.title }}</h1>
      <time>{{ page.date | date: "%A, %B %-d, %Y" }}</time>
      {{ content }}
    </article>
  </body>
</html>
